{% extends 'base.html' %}
{% block content %}

<h1>Giggle Goods</h1>

<h5>App name: </h5>
<p>{{App}}</p> 
<h5>Name: </h5>
<p>{{Name}}</p> 
<h5>Class: </h5>
<p>{{Class}}</p> 

{% if not giggle_entry %}
<p>Belum ada pesanan ke GiggleGoods.</p>
{% else %}
<table>
  <tr>
    <th>Product Name</th>
    <th>Time</th>
    <th>Feeling</th>
    <th>Description</th>
  </tr>

  {% comment %} Berikut cara memperlihatkan data mood di bawah baris ini 
  {% endcomment %} 
  {% for giggle_entry in giggle_entries %}
  <tr>
    <td>{{giggle_entry.name}}</td>
    <td>{{giggle_entry.price}}</td>
    <td>{{giggle_entry.description}}</td>
    <td>{{giggle_entry.giggleLevel}}</td>
    <td>{{giggle_entry.time}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_mood_entry' %}">
  <button>Add New Order</button>
</a>

{% endblock content %}